{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#99F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>DOT Problems?</h1>
        <p>This website offers a simple way to report issues to the Maine Department of Transportation.</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      <form action="/App/Report" method="GET">
        {{with $field := field "email" .}}
        <label>Email</label>
        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
        {{end}}
        {{with $field := field "description" .}}
        <label>Problem description</label>
        <textarea name="{{$field.Name}}">{{$field.Flash}}</textarea><br/>
        {{end}}
        <input type="submit" value="Report problem" />
      </form>
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
